on: push

name: Continuous Integration

jobs:
  ci:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        rust:
          - stable
          # - beta
          # - nightly
          - 1.36.0  # MSRV

    steps:
      - uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        name: "Install minimal Rust toolchain with thumbv7em-none-eabihf target"
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          target: thumbv7em-none-eabihf
          override: true
          components: rustfmt, clippy

      - uses: actions-rs/cargo@v1
        name: "cargo build --target thumbv7em-none-eabihf"
        with:
          command: build
          args: --target thumbv7em-none-eabihf

      # - uses: actions-rs/cargo@v1
      #   name: "cargo test"
      #   with:
      #     command: test

      # - uses: actions-rs/cargo@v1
      #   name: "cargo fmt --all -- --check"
      #   with:
      #     command: fmt
      #     args: --all -- --check

      # - uses: actions-rs/cargo@v1
      #   name: "cargo clippy -- -D warnings"
      #   with:
      #     command: clippy
      #     args: -- -D warnings

      - uses: actions-rs/clippy-check@v1
        name: "cargo clippy -- --all-features"
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features
